.refreshButton {
  width: 42px;
  height: 42px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ececeb;
  border-radius: 8px;
}

.refreshIcon {
  width: 18px;
  height: 18px;
  margin: 0 auto;
}
